.window{
    height: 100%;
    background-color: black;
    border-radius: 0.75rem;
    overflow: hidden;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav{

        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        border-bottom: 1px solid whitesmoke;

        .dots{
            display: flex;
            gap: 0.25rem;

            .dot{
                height: 15px;
                width: 15px;
                border-radius: 50%;
            }

            .red{
                background-color: rgb(255, 82, 82);
            }
            .yellow{
                background-color: rgb(224, 224, 83);
            }

            .green{
                background-color: rgb(23, 132, 23);
            }
        }
    }

    .main-component{
        height: 100%;
    }
}