.context-menu{
    height: 250px;
    width: 230px;
    background-color: #fff;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;

    .context-content{
        display: flex;
        flex-direction: column;
        gap: 4px;

        .options{
            color: #000;
            font-size: 1.02rem;
            font-weight: 500;
            padding: 0.1rem 0.4rem;
            border-radius: 5px;
            cursor: default;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .options:hover{
            background-color: #11111115;
        }
        
    }
}