.dock{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    background-color: rgba(67, 67, 67, 0.538);
    backdrop-filter: blur(3px);
    padding-inline: 1rem;
    padding-block: 0.75rem;
    border-radius: 0.75rem;

    .icon{

        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 2.5rem;

        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

        img{
            height: 28px;
        }
        
    }

    .github,
    .cli {
        background-color: black;
    }

    .note{
        background: linear-gradient(to bottom, rgb(255, 185, 114), rgb(255, 143, 30));
    }

    .pdf{
        background: linear-gradient(to bottom, rgb(255, 101, 101), rgb(255, 54, 54));
    }
    
    .calender,
    .mail {
        background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(64, 52, 255));
    }

    .spotify{
        background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 142, 12));
    }

    .link{
        background: linear-gradient(to bottom, rgb(163, 97, 170), rgb(142, 33, 155));
    }

    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }

    .icon:hover + .icon,
    .icon:has( + .icon:hover) {
        transform: scale(1.15) translateY(-10%);
    }

}