nav{
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.3rem;
    background-color: #9e9e9e4e;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.95rem;

    
    .left,
    .right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}